n8n-workflows/n8n_research_topic_search.json
{
  "name": "research_topic_search",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "0e0a584c-858d-4150-9229-cbaab53aafdf",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        128,
        320
      ],
      "webhookId": "research-agent-chat"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a helpful research assistant that extracts research parameters from user messages.\n\nUser message: {{ $json.chatInput }}\n\nExtract the following information from the user's request:\n1. **Research Topic**: The main subject to research\n2. **Timeline**: Time period to focus on \n\nExamples of user inputs:\n- \"Research AI in healthcare over the last 3 months\"\n- \"Give me the latest news about renewable energy from last week\"\n- \"I need a comprehensive report on blockchain trends in 2024\"\n- \"Quick summary of Tesla stock performance this month\"\n\nOutput as JSON:\n{\n  \"topic\": \"extracted topic\",\n\"timeline\": \"time period\",\n \"original_query\": \"original user message\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "b1d701fc-ce57-4a34-a4ed-baca69ebb74a",
      "name": "Parse User Input",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        432,
        336
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "aa2093cb-f26d-424c-a650-2dc5207acb93",
      "name": "Azure OpenAI - Input Parser",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        336,
        592
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "sRcuoTAt3xogKwre",
          "name": "Azure Open AI account-mini"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an advanced research query generator. Generate comprehensive search queries for deep research based on the {{ $json.output }}\n\n\n\nGenerate diverse search queries that will help gather comprehensive, timeline-specific information. Include:\n\n1. Time-specific queries (e.g., \"[topic] {{ $json.date_filter }} latest developments\")\n2. Trend analysis queries (e.g., \"[topic] trends analysis {{ new Date().getFullYear() }}\")\n3. News and updates queries (e.g., \"[topic] breaking news updates\")\n4. Statistical and data queries (e.g., \"[topic] statistics market data\")\n5. Expert analysis queries (e.g., \"[topic] expert opinions predictions\")\n6. Industry-specific queries based on the topic\n7. Regional/global perspective queries\n\nFor each focus area selected, generate targeted queries.\n\nIMPORTANT: \n- Include date/time modifiers in queries when relevant\n- Vary query structure for diverse results\n- Include both broad and specific queries\n- Consider different search angles and perspectives\n\nOutput as a JSON array of query strings. Example:\n[\"AI healthcare breakthroughs 2025\", \"artificial intelligence medical diagnosis trends\", \"healthcare AI startups funding latest\"]\n\nGenerate queries:",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "9681b492-65a0-40e6-88aa-0da219a2747c",
      "name": "Query Generator Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        896,
        368
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"timeline\": \"California\",\n\t\"Consideration\": [\"Los Angeles\", \"San Francisco\", \"San Diego\"]\n}"
      },
      "id": "bb3d4762-0788-437f-9c03-41677a76c9f9",
      "name": "Parse Query Structure",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1088,
        672
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "maxTokens": 1500,
          "temperature": 0.7
        }
      },
      "id": "569b9e86-5395-4e57-8628-b56a843fceb2",
      "name": "Azure OpenAI - Query Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        864,
        736
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "sRcuoTAt3xogKwre",
          "name": "Azure Open AI account-mini"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.Consideration",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "01c87ae1-be5e-4767-9eee-47864152f63f",
      "name": "Split Queries",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        336
      ]
    },
    {
      "parameters": {
        "options": {
          "numResults": 10,
          "pageNumber": 1,
          "language": "en",
          "safesearch": 0
        }
      },
      "id": "25bc140b-cabb-46fb-8954-83f5344bc320",
      "name": "SearXNG Web Search",
      "type": "@n8n/n8n-nodes-langchain.toolSearXng",
      "typeVersion": 1,
      "position": [
        1952,
        528
      ],
      "credentials": {
        "searXngApi": {
          "id": "7VYvLhKtfnnxi9IS",
          "name": "SearXNG account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search the web for: {{ $json['output.Consideration'] }}\n\nFocus on finding the most recent and relevant information related to the timeline: \n{{ $json.output.timeline }}\n\nPrioritize:\n- Recent news articles\n- Updated statistics and data\n- Expert analysis and opinions\n- Industry reports\n- Academic papers if relevant\n\nReturn comprehensive search results and the weblink.\n\n",
        "options": {}
      },
      "id": "af926ddb-86c9-4bfc-a11d-3a83d9623a46",
      "name": "Search Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1792,
        272
      ]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "24c7339e-17ab-4950-938c-9b3eeab0da89",
      "name": "Azure OpenAI - Search Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1728,
        512
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "sRcuoTAt3xogKwre",
          "name": "Azure Open AI account-mini"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "id": "8526f662-bf71-429a-8acd-89610a258273",
      "name": "Azure OpenAI - Analyzer",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        3248,
        560
      ],
      "credentials": {
        "azureOpenAiApi": {
          "id": "sRcuoTAt3xogKwre",
          "name": "Azure Open AI account-mini"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "347499fc-622b-46e3-9a53-a36c58e88563",
      "name": "Parse Analysis",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3584,
        400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following content and extract key insights relevant to the research topic and timeline.\n\nResearch Topic: {{ $json.topic }}\nTimeline Focus: {{ $json.timeline }}\nURL: {{ $json.url }}\nTitle: {{ $json.title }}\nPublished Date: {{ $json.published_date || 'Not specified' }}\nContent: {{ $json.content }}\n\nProvide a comprehensive analysis including:\n\n1. **Key Findings** (5-7 main points relevant to the topic and timeline)\n2. **Important Data/Statistics** (any quantitative information, percentages, numbers)\n3. **Timeline Relevance** (how does this relate to the specified time period?)\n4. **Trends Identified** (any patterns or trends mentioned)\n5. **Expert Opinions/Quotes** (if any)\n6. **Future Predictions** (any forecasts or predictions mentioned)\n7. **Relevance Score** (1-10, how relevant to the research topic and timeline)\n8. **Credibility Assessment** (assess source reliability: High/Medium/Low)\n9. **Summary** (3-4 sentences summarizing the main points)\n10. **Key Insights** (2-3 actionable insights)\n11. **Tags** (relevant keywords for categorization)\n\nIMPORTANT: Focus on information that is:\n- Directly related to the research topic\n- Relevant to the specified timeline\n- Backed by data or credible sources\n- Providing new insights or perspectives\n\nFormat your response as a JSON object with these fields:\n{\n  \"key_findings\": [],\n  \"statistics\": [],\n  \"timeline_relevance\": \"\",\n  \"trends\": [],\n  \"expert_quotes\": [],\n  \"predictions\": [],\n  \"relevance_score\": 0,\n  \"credibility\": \"\",\n  \"summary\": \"\",\n  \"insights\": [],\n  \"tags\": [],\n  \"source_date\": \"\"\n}\n\nAnalysis:",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "4682dd21-12db-4a6c-9d96-8de4984db9ae",
      "name": "Content Analysis Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3264,
        208
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Oun8U2cOPzTuQR4OQ4Y7fLYhEuKlFAN4VvFUBcg_0so",
          "mode": "list",
          "cachedResultName": "n8n_creation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oun8U2cOPzTuQR4OQ4Y7fLYhEuKlFAN4VvFUBcg_0so/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1919345849,
          "mode": "list",
          "cachedResultName": "research_sheets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oun8U2cOPzTuQR4OQ4Y7fLYhEuKlFAN4VvFUBcg_0so/edit#gid=1919345849"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "row_number"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2688,
        464
      ],
      "id": "4cb602d1-4b9d-4c65-9c82-ca439b47fc2a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QIQ9otGNcyP8u9Ig",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1aq_QI4JQzX_UBcYEYRYrIWaSfAZvTELFN51KIGfw8Tw/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2576,
        144
      ],
      "id": "97bf7ab1-7cc7-4228-b551-e0e42bdb6043",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "jlgeyNAfm73hEOpR",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Parse User Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse User Input": {
      "main": [
        [
          {
            "node": "Query Generator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI - Input Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Parse User Input",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Query Generator Agent": {
      "main": [
        [
          {
            "node": "Split Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Query Structure": {
      "ai_outputParser": [
        [
          {
            "node": "Query Generator Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI - Query Model": {
      "ai_languageModel": [
        [
          {
            "node": "Query Generator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Queries": {
      "main": [
        [
          {
            "node": "Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SearXNG Web Search": {
      "ai_tool": [
        [
          {
            "node": "Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI - Search Model": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI - Analyzer": {
      "ai_languageModel": [
        [
          {
            "node": "Content Analysis Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Analysis": {
      "ai_outputParser": [
        [
          {
            "node": "Content Analysis Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Content Analysis Agent": {
      "main": [
        []
      ]
    },
    "Append or update row in sheet": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2906703f-9dfd-41d5-8626-43354ecfa4b3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a6cc3f5403dac967b34b2f7874b361c089a2fc47f47810a90bf08b698f9dbaa"
  },
  "id": "PbeGPzq9xRwsD9Gw",
  "tags": [
    {
      "createdAt": "2025-09-17T09:30:56.621Z",
      "updatedAt": "2025-09-17T09:30:56.621Z",
      "id": "Y9NwtnoCO2cJAecU",
      "name": "azure-openai"
    },
    {
      "createdAt": "2025-09-18T01:38:22.834Z",
      "updatedAt": "2025-09-18T01:38:22.834Z",
      "id": "m2WIQWdlNduDDxU1",
      "name": "ai-agent"
    },
    {
      "createdAt": "2025-09-18T01:38:22.837Z",
      "updatedAt": "2025-09-18T01:38:22.837Z",
      "id": "mDUdMrY6DLVhHRMM",
      "name": "timeline-analysis"
    },
    {
      "createdAt": "2025-09-17T09:18:43.080Z",
      "updatedAt": "2025-09-17T09:18:43.080Z",
      "id": "rETAiNjzzKbA1cX2",
      "name": "searxng"
    },
    {
      "createdAt": "2025-09-17T08:59:56.998Z",
      "updatedAt": "2025-09-17T08:59:56.998Z",
      "id": "yRWBiiFgIibi7nUm",
      "name": "research"
    }
  ]
}
